@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
	body
	{
		@apply text-zinc-100 leading-relaxed min-w-[375px];
		font-family: 'Kumbh Sans', sans-serif;
		@media (max-width: 767px)
		{
			background: black;
			background-size: 100%;
		}
		@media (min-width: 768px)
		{
			background: black;
			background-size: 6400px;
		}
	}
	h1
	{
		@apply text-2xl text-zinc-300 mb-8;
		font-family: 'Roboto', sans-serif;
	}
	h2
	{
		@apply text-xl text-zinc-300 mb-8;
		font-family: 'Roboto', sans-serif;
	}
	h3
	{
		@apply text-lg text-zinc-300 mb-8;
		font-family: 'Roboto', sans-serif;
	}
	p
	{
		@apply mb-4 text-justify md:text-left;
	}
	a
	{
		@apply underline;
	}
	small
	{
		@apply text-[0.7em];
	}
}
