@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Note: Use of Tailwind [bracket] specifiers can cause a build error. https://bit.ly/47kr6bb

@layer base
{
	:root
	{
		--app-height: 480px; // This value will be updated by code in App.tsx.
		--app-width: 800px; // This value will be updated by code in App.tsx.
		font-size: calc(var(--app-height)*15/480); // This allows all the fonts used to scale based on the height.
	}
	body
	{
		@apply text-zinc-100 leading-relaxed;
		font-family: 'Kumbh Sans', sans-serif;
		background: black;
	}
	h1
	{
		@apply text-2xl text-zinc-300 mb-4;
		font-family: 'Roboto', sans-serif;
	}
	h2
	{
		@apply text-xl text-zinc-300 mb-4;
		font-family: 'Roboto', sans-serif;
	}
	h3
	{
		@apply text-lg text-zinc-300 mb-4;
		font-family: 'Roboto', sans-serif;
	}
	p
	{
		@apply mb-4 text-justify md:text-left;
	}
	a
	{
		@apply underline;
	}
	small
	{
		font-size: 0.7em;
	}
}
